In [105]:
def _to_stars(percentage: int, ranges=None, decimal=False):
    if ranges is None:
        ranges = [(0, 4), (5, 20), (20, 40), (40, 60), (60, 80), (80, 101)]
    for index, ran in enumerate(ranges):
        if ran[0] <= percentage < ran[1]:
            if decimal and percentage >= sum(ran)//2:
                return min(index + 0.5, len(ranges) - 1)
            return index
    return -1


print(_to_stars(80.5, decimal=True))
print(_to_stars(50))

5
3

In [11]:
import pandas as pd
import numpy as np

df = pd.read_excel('final_rate.xlsx', sheet_name='test')

# df = df.dropna()

score_snr = df["snr_avg"]

ranking_snr = [1.0, 2.0,  3.0,  4.0, 5.0]
list_of_snr = []
percent_snr = np.percentile(score_snr, [0, 25, 50, 75, 100])

ratings = np.interp(score_snr, percent_snr, ranking_snr)
for rate in ratings:
    list_of_snr.append(int(rate)*"*")
    
df["snr_rating"] = list_of_snr


scores_std = df["std_avg"]
ranking_std = [1.0, 2.0,  3.0,  4.0, 5.0]
list_of_std = []
percent_std = np.percentile(scores_std, [0, 25, 50, 75, 100])

ratings_std = np.interp(scores_std, percent_std, ranking_std)
for rate in ratings_std:
    list_of_std.append(int(rate)*"*")
    
df["std_rating"] = list_of_std


scores_duration = df["hours_amount"]
ranking_duration = [1.0, 2.0,  3.0,  4.0, 5.0]
list_of_duration = []
percent_duration = np.percentile(scores_duration, [0, 25, 50, 75, 100])

ratings_duration = np.interp(scores_duration, percent_duration, ranking_duration)
for rate in ratings_duration:
    list_of_duration.append(int(rate)*"*")
    
df["duration_rating"] = list_of_duration


def rating(name):
    for index, row in df.iterrows():
        if name.upper() == row[0]:
            return f"The station {name.upper()} got {row[5]}"

  
        

rating("kasi")

'The station KASI got **'

In [8]:
df

,station_name,std_avg,snr_avg,duration,hours_amount,snr_rating,std_rating,duration_rating
0,EGYPT-SpaceAgency,0.411769,1.191570,09:01:30,9.01,*****,*,***
1,TRIEST,0.379743,1.190068,09:05:28,9.05,****,*,***
2,BIR,0.670031,1.110377,08:21:03,8.21,****,*,**
3,INDONESIA,1.163399,1.010084,10:47:11,10.47,****,***,***
4,MRT1,0.683903,1.009518,03:35:34,3.35,****,**,*
5,MRT2,0.560338,1.001309,05:24:05,5.25,****,*,*
6,JAPAN-IBARAKI,0.708482,0.984697,09:12:27,9.12,****,**,***
7,USA-ARIZONA-ERAU,0.725620,0.924873,11:53:02,11.53,****,**,****
8,MRT3,0.888908,0.913669,03:35:34,3.35,***,**,*
9,INDIA-IISERP,0.666256,0.894374,02:21:23,2.21,***,*,*
10,MRO,0.827314,0.890659,05:51:14,5.51,***,**,*
11,Arecibo-Observatory,0.611832,0.885222,11:08:42,11.08,***,*,****
12,MONGOLIA-GOBI,1.264228,0.878869,10:33:44,10.33,***,****,***
13,SWISS-BLEN5M,0.932309,0.875930,12:22:41,12.22,***,**,****
14,Germany-Hildesheim,1.029035,0.870589,12:24:08,12.24,***,***,*****
15,HURBANOVO,0.680576,0.857984,07:42:25,7.42,***,**,**
16,SSRT,1.326423,0.855188,03:38:40,3.38,**,****,*
17,SWISS-HB9SCT,1.098528,0.832778,10:00:02,10.00,**,***,***
18,ALMATY,0.632183,0.806751,01:43:16,1.43,**,*,*
19,NEWZEALAND-AUT,1.381596,0.767890,06:05:30,6.05,**,****,*
20,ETHIOPIA,1.515387,0.767774,06:57:02,6.57,**,*****,**
21,KRIM,0.637735,0.746926,06:54:18,6.54,**,*,**
22,KASI,1.140944,0.728067,09:57:23,9.57,**,***,***
23,Australia-LMRO,1.156216,0.717454,08:43:30,8.43,**,***,**
24,ALGERIA-CRAAG,0.970769,0.705192,10:16:54,10.16,*,***,***
25,DENMARK,1.451293,0.645927,07:53:23,7.53,*,****,**
26,UNAM,1.032976,0.628459,11:37:00,11.37,*,***,****
27,AUSTRIA-OE3FLB,0.990993,0.621303,08:12:01,8.12,*,***,**
28,ROSWELL-NM,0.899710,0.619211,12:05:18,12.05,*,**,****
29,THAILAND-Pathumthani,1.424922,0.609622,11:28:25,11.28,*,****,****
30,Malaysia_Banting,1.457370,0.605828,11:25:52,11.25,*,****,****
31,INDIA-Nashik,1.381672,0.566608,07:35:45,7.35,*,****,**

In [ ]:
def convert_to_stars(score):
    ranking = [1.0, 2.0, 3.0, 4.0, 5.0]
    list_of_stars = []
    percent = np.percentile( score, [0, 25, 50, 75, 100] )

    ratings = np.interp( score, percent, ranking )
    for rate in ratings:
        list_of_stars.append( int( rate ) * "*" )

    return list_of_stars

In [204]:
# import pandas as pd
# import numpy as np

# df = pd.read_excel('rating.xlsx', sheet_name='rating')

# data =np.array_split(df.dropna(axis=0), 5) 
# # while True:
# station_name  =input( "Enter the station name: " ).upper()
# # print("TRIEST" in data[0]["station_name"].unique())
# if station_name in data[0]["station_name"].unique():
#     print( f"The station {station_name} got {5* '*' }" )


# if station_name in data[1]["station_name"].unique():
#     print(f"The station {station_name} got {4* '*' }" )


# if station_name in data[2]["station_name"].unique():
#     print( f"The station {station_name} got {3* '*' }" )

# if station_name in data[3]["station_name"].unique():
#     print(f"The station {station_name} got {2* '*' }" )


# if station_name in data[4]["station_name"].unique():
#     print( f"The station {
# # scores = df["snr_avg"]
# # ranking = [1.0, 2.0,  3.0,  4.0, 5.0]
# # list_of_stars = []
# # percent = np.percentile(scores, [0, 25, 50, 75, 100])

# # ratings = np.interp(scores, percent, ranking)
# # for rate in ratings:
# #     list_of_stars.append(int(rate)*"*")
# # # for rate in ratings:print(int(rate)*"*")
# # # for rate in ratings:print(f" {rate} : ", int(rate)*"*")

In [206]:
# df["snr_rating"] = list_of_stars

In [209]:
# scores_std = df["std_avg"]
# ranking_std = [1.0, 2.0,  3.0,  4.0, 5.0]
# list_of_stars_std = []
# percent_std = np.percentile(scores_std, [0, 25, 50, 75, 100])

# ratings_std = np.interp(scores_std, percent_std, ranking_std)
# for rate in ratings_std:
#     list_of_stars_std.append(int(rate)*"*")

In [221]:
# scores_duration = df["hours_amount"]
# ranking_duration = [1.0, 2.0,  3.0,  4.0, 5.0]
# list_of_stars_duration = []
# percent_duration = np.percentile(scores_duration, [0, 25, 50, 75, 100])

# ratings_duration = np.interp(scores_duration, percent_duration, ranking_duration)
# for rate in ratings_duration:
#     list_of_stars_duration.append(int(rate)*"*")

In [9]:
# data.to_excel("final_rate.xlsx", index = False)

In [12]:
# import pandas as pd
# import numpy as np

# df = pd.read_excel('final_rate.xlsx', sheet_name='test')
# scores_snr = df["snr_avg"]
# scores_std = df["std_avg"]
# scores_duration = df["hours_amount"]


# def convert_to_stars(scores):
#     ranking = [1.0, 2.0,  3.0,  4.0, 5.0]
#     list_of_stars = []
#     percent = np.percentile(scores, [0, 25, 50, 75, 100])

#     ratings = np.interp(scores, percent, ranking)
#     for rate in ratings:
#         list_of_stars.append(int(rate)*"*")
        
#     return list_of_stars

# # df["snr_rating"] = convert_to_stars(scores_snr)

In [14]:
# df["std_rating"] = convert_to_stars(scores_std)

In [19]:
# df["duration_rating"] = convert_to_stars(scores_duration)