## This Jupyter is to test the Rating class

In [1]:
from rating import *

rating = Rating('2019-09-08 08:00:00', '2023-02-08 18:45:00')
df = rating.rate_stations()

In [2]:
df

            station_name   snr   std  snr_rating  std_rating
47                  MRT3  1.19  0.38        4.13        1.60
15                 EGYPT  1.13  0.38        4.03        1.60
46                  MRT2  1.03  0.40        4.02        1.63
2           ALASKA-COHOE  1.06  0.46        3.97        1.78
45                  MRT1  1.02  0.94        3.95        3.01
..                   ...   ...   ...         ...         ...
77  THAILAND-Pathumthani  0.57  1.34        1.92        3.94
52      NORWAY-RANDABERG  0.51  0.47        1.81        1.79
51    NORWAY-NY-AALESUND  0.48  0.77        1.78        2.01
81      USA-ARIZONA-ERAU  0.41  2.04        1.66        3.94
79                  UNAM  0.40  2.38        1.63        4.00

[82 rows x 5 columns]