## This Jupyter is to test the Rating class

In [3]:
from rating import *

rating = Rating('2019-09-08 08:00:00', '2023-02-08 18:45:00')
df = rating.rate_stations()

In [4]:
df

            station_name   snr   std  snr_rating  std_rating
101      SWISS-ZURICH_59  1.25  0.35        4.38        1.55
108              ZSTS_59  1.25  0.35        4.37        1.56
0        ALASKA-COHOE_00  1.21  0.37        4.29        1.60
9      AUSTRIA-OE3FLB_55  1.19  0.43        4.26        1.76
64               MRT3_02  1.13  0.48        4.17        1.69
..                   ...   ...   ...         ...         ...
71   NORWAY-RANDABERG_01  0.51  0.46        1.74        1.87
95   SWISS-HEITERSWIL_59  0.41  2.35        1.61        4.02
107  USA-ARIZONA-ERAU_01  0.42  1.90        1.61        4.02
49               KRIM_01  0.40  2.21        1.58        4.03
105              UNAM_59  0.38  2.38        1.58        3.97

[109 rows x 5 columns]