In [1]:
from daily_observations import *

/tmp/pycharm_project_368/validation/rating_system/radiospectra/version.py:12: UserWarning: could not determine radiospectra package version; this indicates a broken installation
  warnings.warn(

In [4]:
start_date = '2022-03-08 14:30:03'
end_date = '2022-03-16 14:30:03'
station_name = 'MRT3'

daily_observation = DailyObservation(start_date, end_date, station_name)
daily_observation.data

,Station,Sunrise,Sunset,Obs_start,Obs_end,Duration,Avg-SNR,Avg-STD
0,MRT3_02,02:23:02,14:16:33,2022-03-09 02:30:00.534,2022-03-09 13:58:58,11:28:57,1.164851,0.385596
1,MRT3_02,02:22:12,14:16:52,2022-03-10 02:00:00.675,2022-03-10 13:58:58,11:58:57,1.195146,0.373354
2,MRT3_02,02:21:22,14:17:11,2022-03-11 02:00:00.738,2022-03-11 13:58:57,11:58:56,1.187687,0.378979
3,MRT3_02,02:20:32,14:17:30,2022-03-12 02:00:00.722,2022-03-12 13:58:58,11:58:57,1.200021,0.374646
4,MRT3_02,02:19:41,14:17:48,2022-03-13 02:00:00.789,2022-03-13 13:58:58,11:58:57,1.175562,0.385146
5,MRT3_02,02:18:50,14:18:07,2022-03-14 02:00:00.761,2022-03-14 13:58:58,11:58:57,1.203028,0.367611
6,MRT3_03,02:17:58,14:18:25,2022-03-15 02:39:00.843,2022-03-15 13:58:58,11:19:57,1.209239,0.367087
7,MRT3_02,02:17:07,14:18:42,2022-03-16 02:00:00.703,2022-03-16 13:58:58,11:58:57,1.176104,0.383792

In [5]:
total_duration_data = daily_observation.calculate_total_duration()
total_duration_data

   Station          Duration   Avg-SNR   Avg-STD
0  MRT3_02  3 days, 11:22:38  1.186057  0.378446
1  MRT3_03   0 days 11:19:57  1.209239  0.367087

In [10]:

start_date = '2020-10-16 07:00:03'
end_date = '2020-10-20 14:30:03'
station_name = 'SWISS-MUHEN'


daily_observation = DailyObservation(start_date, end_date, station_name)
daily_observation.data

,Station,Sunrise,Sunset,Obs_start,Obs_end,Duration,Avg-SNR,Avg-STD
0,SWISS-MUHEN_01,05:48:19,16:37:20,2020-10-16 07:00:00.867,2020-10-16 16:14:58,09:14:57,0.793284,1.309014
1,SWISS-MUHEN_01,05:49:46,16:35:30,2020-10-17 06:00:00.758,2020-10-17 16:14:58,10:14:57,0.754256,1.196244
2,SWISS-MUHEN_01,05:51:12,16:33:40,2020-10-18 06:00:00.741,2020-10-18 16:14:58,10:14:57,0.749805,1.324963
3,SWISS-MUHEN_01,05:52:39,16:31:51,2020-10-19 06:00:00.650,2020-10-19 16:14:57,10:14:56,0.779768,1.325610
4,SWISS-MUHEN_01,05:54:06,16:30:04,2020-10-20 06:00:00.684,2020-10-20 14:45:00,08:44:59,0.711557,1.547657

In [11]:
total_duration_data = daily_observation.calculate_total_duration()
total_duration_data

          Station          Duration   Avg-SNR   Avg-STD
0  SWISS-MUHEN_01  2 days, 00:44:46  0.757734  1.340698